<nav class="navbar navbar-expand-lg bg-dark sticky-top" data-bs-theme="dark">
  <div class="container">
    <!-- Brand with custom color -->
    <a class="navbar-brand d-flex align-items-center text-info" href="/">
      <i class="fas fa-paper-plane me-2"></i>
      Avion de Papel
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user-circle me-1"></i>
              Mi Cuenta
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to 'Mi Perfil', '#', class: 'dropdown-item text-dark' %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to destroy_user_session_path, method: :delete, class: 'dropdown-item text-danger' do %>
                  <i class="fas fa-sign-out-alt me-1"></i> Cerrar sesión
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link btn btn-outline-info me-2 text-info' do %>
              <i class="fas fa-sign-in-alt me-1"></i> Iniciar sesión
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link btn btn-info text-white' do %>
              <i class="fas fa-user-plus me-1"></i> Registro
            <% end %>
          </li>
        <% end %>
      </ul>
      <form class="d-flex ms-3" role="search">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Buscar..." aria-label="Search">
          <button class="btn btn-outline-info" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>